*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Raleway';
  /* background-image: linear-gradient(to right, #2980b9, #6dd5fa); */
}
/* NavBar */
.navBar{
  width: 100%;
  background-color: rgba(0,0,0,0);
  position:fixed;
  padding-top: 30px;
  /* padding-bottom: 20px; */
  justify-content: center;
  display: flex;
  flex-direction: row;
  transition: all .5s ease-out;
}
.navColor{
  background-color: black;
  transition: all .5s ease-in;
}
.navList{
  display: flex;
  flex-direction: row;
}
.listItem{
  list-style-type: none;
  margin-right: 40px;
}
.listItem a{
  font-size: 20px;
  position: relative;
  color: white;
}
.listItem a.b::after{
  content: "";
  height: 3px;
  position: absolute;
  background-color: #fff;
  display: inline-block;
  width: 0;
  transition: all 0.4s;
  top: 30px;
  left: 0;
}
.listItem a:hover{
  color: #fff;
  text-decoration: none;
}
.listItem a:hover:after{
  width: 100%;
}
.searchForm{
    width: 0px;
    height: 40px;
    background: #41484a;
    text-align: center;
    line-height: 25px;
    padding-right: 40px;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    right: 90px;
}
.searchForm.active{
  width: 150px;
  padding-left: 10px;
  transition: all 0.5s ease;
}

.searchFeild.active{
  width: 98%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
}
.searchFeild{
  border: 0px;
  border-bottom: 2px solid #fff;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}
input.searchFeild::placeholder{
  color: #fff;
}
.fa{
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 11px;
  font-size: 22px;
  right: 12px;
}
.filmClipsLink a {
  font-family: 'Courgette';
  font-size: 45px;
}
.latestCarousel{
  height: 800px;
  width: 100%;
}
.latestCarousel img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.billboard{
  color: white;
  width: 30%;
  padding: 20px;
  position: absolute;
  top: 450px;
}
.billboardTitle{
  font-size: 45px;
}
